<ion-view title="Rivalry | Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="bestie in besties" ng-click="showAlert(bestie.push)">
        {{bestie.title}}
        <ion-option-button class="button-large button-assertive">
          Scoreboard
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
