<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Rivalry</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          <i class="icon ion-log-in"></i>
            Login
        </ion-item>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/home">
          <i class="icon ion-home"></i>
            Home
        </ion-item>
                
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/invite">
            <i class="icon ion-share"></i>
            Invite
        </ion-item>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/friends">
            <i class="icon ion-ios7-people"></i>
            Friends
        </ion-item>
        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/profile">
            <i class="icon ion-person"></i>
            Settings
        </ion-item>

        <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/logout">
            <i class="icon ion-log-out"></i>
            Logout
        </ion-item>        
        <!--<ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>-->
        <!--<ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>-->

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
