
<ion-view title="Settings">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true">
	
	<!-- Simply put, I can't figure out how to style this better -->
	<label class="item">
	  <select ng-model="myTeam" ng-options="team.name for team in teams" class="item item-select"></select>
	</label>

	<div class="card center">
	  <div class="item item-divider {{myTeam.style}}">
	    <h3>Callout</h1>
	  </div>
	  <h4>"{{myTeam.callout}}"</h4>
	</div>


    <button class="button button-block">
      <i class="icon ion-social-facebook"></i>
      Disconnect Facebook
    </button>


  </ion-content>


</ion-view>